<% use Timex %>
<h1>Game of the week!</h1>
<p>Away Team: <%= @game_of_week.away_team.name %></p>
<p>Home Team: <%= @game_of_week.home_team.name %></p>
<p><%= Timex.Timezone.convert(@game_of_week.scheduled, "EDT")|> Timex.format!("%A, %b %d @ %I:%M %p Eastern", :strftime) %></p>

