<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Best Game</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="title-bar">
        <img
          src="https://i.ytimg.com/vi/iu5sa8MiJvE/hqdefault.jpg"
          height=140
        />
        <span class="title-text">Best Game</span>
        <img
          src=" http://2.bp.blogspot.com/-QCLJwkjyNDM/Tm3g9w1O43I/AAAAAAAAEhs/ZqsosoR6Zsg/s1600/funny-basketball-pictures-3+%253D2011.jpeg"
          height=140
        />
      </div>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
